<% content_for :title, @recipe.Name %>

<h1 class="text-center mb-4"><%= @recipe.Name %></h1>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingrédients</h5>
      <p class="card-text"><%= @recipe.ingredient_list %></p>

      <div class="text-center mt-4">
        <%= link_to "Éditer cette recette", edit_recipe_path(@recipe), class: "btn btn-primary" %> 
        <%= link_to "Retour aux recettes", recipes_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>